# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [2]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [3]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [4]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [5]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [27]:
import pandas as pd
document = ET.parse( './data/mondial_database.xml' )

In [48]:
#traverse the tree, recording all infant_mortality rates for countries 
inf_mort= {}
for child in document.getroot():
    n = child.find('name')
    i = child.find('infant_mortality')
    if (n is not None) & (i is not None):
        inf_mort[n.text] = float(i.text)

#display the 10 lowest
pd.Series(inf_mort).sort_values().head(10)

Monaco            1.81
Japan             2.13
Norway            2.48
Bermuda           2.48
Singapore         2.53
Sweden            2.60
Czech Republic    2.63
Hong Kong         2.73
Macao             3.13
Iceland           3.15
dtype: float64

In [95]:
#traverse the XML tree, getting yearly population data for each city in each country
city_pop= []
for element in document.iterfind('country'):
    country_name = element.find('name').text
    for subelement in element.getiterator('city'):
        city = subelement.find('name').text
        for pop in subelement.getiterator('population'):
            row = {}
            row['city'] = city
            row['country'] = country_name
            row['population'] = float(pop.text)
            row['year'] = int(pop.attrib['year'])
            city_pop.append(row)

pop_table = pd.DataFrame(city_pop)

#return the latest yearly population for each city by dropping duplicates and keeping only the latest year.  return the top 10 most populous
pop_table.sort_values('year').drop_duplicates(['city', 'country'], keep='last').sort_values('population', ascending=False).head(10)

           city country  population  year
3750   Shanghai   China  22315474.0  2010
2607   Istanbul  Turkey  13710512.0  2012
4303     Mumbai   India  12442373.0  2011
1546     Moskva  Russia  11979529.0  2013
3746    Beijing   China  11716620.0  2010
8208  São Paulo  Brazil  11152344.0  2010
3754    Tianjin   China  11090314.0  2010
3364  Guangzhou   China  11071424.0  2010
4399      Delhi   India  11034555.0  2011
3371   Shenzhen   China  10358381.0  2010

In [98]:
#in order to calculate populations of ethnic groups (which are only given as percentages of the total population)
#we need each country's total population
cty_pop =[]
for element in document.iterfind('country'):
    country_name = element.find('name').text
    for pop in element.getiterator('population'):
        row={}
        row['year'] = int(pop.attrib['year'])
        row['population'] = float(pop.text)
        row['country'] = country_name
        cty_pop.append(row)

#since the population figures are yearly, we have to drop all but the most recent as in the previous answer
pop_table = pd.DataFrame(cty_pop)
cur_pop = pop_table.sort_values('year').drop_duplicates(['country'], keep='last')
cur_pop

                        country   population  year
12687                  Pitcairn         66.0  1991
10076    British Virgin Islands      23161.0  2001
5090                   Guernsey      59807.0  2001
12616             New Caledonia     245580.0  2009
15717  Central African Republic    4349921.0  2010
15206                      Togo    6191155.0  2010
15739         Equatorial Guinea     696167.0  2010
15729                      Chad   11720781.0  2010
15485                   Burundi    8444784.0  2010
15675                  Cameroon    2865795.0  2010
15466                     Ghana     104532.0  2010
6895                    Bahrain    1234596.0  2010
10070                   Bermuda      64237.0  2010
16094                    Malawi   15013694.0  2010
16035              Sierra Leone    5751976.0  2010
16070                   Lesotho    2008921.0  2010
16197                 Swaziland    1193148.0  2010
12736                   Vanuatu     236299.0  2010
12714                    Tuvalu       9827.0  2010
12695           Solomon Islands     526447.0  2010
15829                   Eritrea    5741159.0  2010
15914                   Somalia    9636173.0  2010
15923                     Kenya   40909194.0  2010
15818                  Djibouti     834036.0  2010
15749                     Gabon    1556222.0  2010
15764                Cape Verde     131719.0  2010
15772                     Sudan   35652002.0  2010
6589                   Pakistan  173149306.0  2010
15792                   Comoros     683081.0  2010
15810                   Liberia    3957990.0  2010
...                         ...          ...   ...
856                     Austria     269211.0  2013
8740                      Japan    2051000.0  2013
16048                    Uganda   34856813.0  2014
9053                   Maldives     341256.0  2014
8434                     Kuwait     637411.0  2014
16207              Saint Helena       5663.0  2014
5092                   Holy See        842.0  2014
11618                Costa Rica     428103.0  2014
8562                  West Bank    2790331.0  2014
7924                 Gaza Strip    1760037.0  2014
5315                   Svalbard       1872.0  2014
14677                   Morocco    1893950.0  2014
15366              Cote dIvoire     148171.0  2014
6991                    Myanmar     286684.0  2014
6711                 Tajikistan    8161100.0  2014
143                      Greece        233.0  2014
14785                   Tunisia   10982754.0  2014
7839                 Kyrgyzstan     265200.0  2014
15803                    Guinea     194178.0  2014
13148                    Brazil    3885049.0  2014
11012             United States    1023579.0  2014
4684                    Finland      54633.0  2014
12126                  Colombia    2073004.0  2014
8112                  Indonesia    1828291.0  2014
3080                     Russia     877149.0  2014
7671                 Kazakhstan     181526.0  2014
14803                    Angola     688285.0  2014
6804                 Uzbekistan    2504100.0  2014
12927                 Argentina     918147.0  2014
3665                Netherlands      93726.0  2014

[244 rows x 3 columns]

In [148]:
#now we need a table of the ethnic groups and population percentages for each, so traverse the XML for these elements
eth_pct = []
for element in document.iterfind('country'):
    country_name = element.find('name').text
    for eth in element.getiterator('ethnicgroup'):
        row={}
        row['country'] = country_name
        row['pct'] = float(eth.attrib['percentage'])
        row['groupname'] = eth.text
        eth_pct.append(row)
        
eth_table = pd.DataFrame(eth_pct)
eth_table

                   country             groupname     pct
0                  Albania              Albanian   95.00
1                  Albania                 Greek    3.00
2                   Greece                 Greek   93.00
3                Macedonia            Macedonian   64.20
4                Macedonia              Albanian   25.20
5                Macedonia               Turkish    3.90
6                Macedonia                 Gypsy    2.70
7                Macedonia                  Serb    1.80
8                   Serbia                  Serb   82.90
9                   Serbia           Montenegrin    0.90
10                  Serbia             Hungarian    3.90
11                  Serbia                  Roma    1.40
12                  Serbia               Bosniak    1.80
13                  Serbia                 Croat    1.10
14              Montenegro           Montenegrin   43.00
15              Montenegro                  Serb   32.00
16              Montenegro               Bosniak    8.00
17              Montenegro              Albanian    5.00
18                  Kosovo              Albanian   92.00
19                  Kosovo               Serbian    5.00
20                 Andorra               Spanish   43.00
21                 Andorra              Andorran   33.00
22                 Andorra            Portuguese   11.00
23                 Andorra                French    2.00
24                 Andorra               African    5.00
25                   Spain  Mediterranean Nordic  100.00
26                 Austria              Austrian   91.10
27                 Austria               Turkish    1.60
28                 Austria               Slovene    1.00
29                 Austria                 Croat    2.00
..                     ...                   ...     ...
598          Guinea-Bissau               African   99.00
599           Sierra Leone                 Asian    1.00
600           Sierra Leone               African   99.00
601                 Uganda                Rwanda    6.00
602                 Uganda                  Arab    1.00
603                 Uganda               Baganda   17.00
604                 Uganda            Karamojong   12.00
605                 Uganda                Basogo    8.00
606                 Uganda                 Iteso    8.00
607                 Uganda                 Langi    6.00
608                 Uganda                Bagisu    5.00
609                 Uganda                Acholi    4.00
610                 Uganda               Lugbara    4.00
611                 Uganda               Bunyoro    3.00
612                 Uganda                Batobo    3.00
613                Lesotho                 Sotho   99.70
614             Mozambique              European    0.06
615             Mozambique                Indian    0.08
616             Mozambique          Euro-African    0.20
617              Mauritius                Creole   27.00
618              Mauritius        Indo-Mauritian   68.00
619              Mauritius        Sino-Mauritian    3.00
620              Mauritius      Franco-Mauritian    2.00
621              Swaziland              European    3.00
622              Swaziland               African   97.00
623           Saint Helena       African descent   50.00
624           Saint Helena                 White   25.00
625           Saint Helena               Chinese   25.00
626  Sao Tome and Principe              European  100.00
627             Seychelles           Seychellois  100.00

[628 rows x 3 columns]

In [149]:
#merge the total population data with the ethnic group percentages
eth_table = eth_table.merge(cur_pop, on='country')
eth_table

                   country             groupname     pct  population  year
0                  Albania              Albanian   95.00   2800138.0  2011
1                  Albania                 Greek    3.00   2800138.0  2011
2                   Greece                 Greek   93.00       233.0  2014
3                Macedonia            Macedonian   64.20   2059794.0  2011
4                Macedonia              Albanian   25.20   2059794.0  2011
5                Macedonia               Turkish    3.90   2059794.0  2011
6                Macedonia                 Gypsy    2.70   2059794.0  2011
7                Macedonia                  Serb    1.80   2059794.0  2011
8                   Serbia                  Serb   82.90   7120666.0  2011
9                   Serbia           Montenegrin    0.90   7120666.0  2011
10                  Serbia             Hungarian    3.90   7120666.0  2011
11                  Serbia                  Roma    1.40   7120666.0  2011
12                  Serbia               Bosniak    1.80   7120666.0  2011
13                  Serbia                 Croat    1.10   7120666.0  2011
14              Montenegro           Montenegrin   43.00    620029.0  2011
15              Montenegro                  Serb   32.00    620029.0  2011
16              Montenegro               Bosniak    8.00    620029.0  2011
17              Montenegro              Albanian    5.00    620029.0  2011
18                  Kosovo              Albanian   92.00   1733872.0  2011
19                  Kosovo               Serbian    5.00   1733872.0  2011
20                 Andorra               Spanish   43.00     78115.0  2011
21                 Andorra              Andorran   33.00     78115.0  2011
22                 Andorra            Portuguese   11.00     78115.0  2011
23                 Andorra                French    2.00     78115.0  2011
24                 Andorra               African    5.00     78115.0  2011
25                   Spain  Mediterranean Nordic  100.00    792054.0  2011
26                 Austria              Austrian   91.10    269211.0  2013
27                 Austria               Turkish    1.60    269211.0  2013
28                 Austria               Slovene    1.00    269211.0  2013
29                 Austria                 Croat    2.00    269211.0  2013
..                     ...                   ...     ...         ...   ...
598          Guinea-Bissau               African   99.00   1586624.0  2010
599           Sierra Leone                 Asian    1.00   5751976.0  2010
600           Sierra Leone               African   99.00   5751976.0  2010
601                 Uganda                Rwanda    6.00  34856813.0  2014
602                 Uganda                  Arab    1.00  34856813.0  2014
603                 Uganda               Baganda   17.00  34856813.0  2014
604                 Uganda            Karamojong   12.00  34856813.0  2014
605                 Uganda                Basogo    8.00  34856813.0  2014
606                 Uganda                 Iteso    8.00  34856813.0  2014
607                 Uganda                 Langi    6.00  34856813.0  2014
608                 Uganda                Bagisu    5.00  34856813.0  2014
609                 Uganda                Acholi    4.00  34856813.0  2014
610                 Uganda               Lugbara    4.00  34856813.0  2014
611                 Uganda               Bunyoro    3.00  34856813.0  2014
612                 Uganda                Batobo    3.00  34856813.0  2014
613                Lesotho                 Sotho   99.70   2008921.0  2010
614             Mozambique              European    0.06   1735351.0  2012
615             Mozambique                Indian    0.08   1735351.0  2012
616             Mozambique          Euro-African    0.20   1735351.0  2012
617              Mauritius                Creole   27.00   1237091.0  2011
618              Mauritius        Indo-Mauritian   68.00   1237091.0  2011
619              Mauritius        Sino-Mauritian    3.00   1237091.0  2011
620              Mauritius      Franco-Mauritian    2.00   1237091.0  2011
621              Swaziland              European    3.00   1193148.0  2010
622              Swaziland               African   97.00   1193148.0  2010
623           Saint Helena       African descent   50.00      5663.0  2014
624           Saint Helena                 White   25.00      5663.0  2014
625           Saint Helena               Chinese   25.00      5663.0  2014
626  Sao Tome and Principe              European  100.00    187356.0  2012
627             Seychelles           Seychellois  100.00     90945.0  2010

[628 rows x 5 columns]

In [150]:
#calculate the population of each ethnic group in each country
eth_table['eth_pop'] = (eth_table['pct']/100)*eth_table['population']
eth_table

,country,groupname,pct,population,year,eth_pop
0,Albania,Albanian,95.00,2800138.0,2011,2.660131e+06
1,Albania,Greek,3.00,2800138.0,2011,8.400414e+04
2,Greece,Greek,93.00,233.0,2014,2.166900e+02
3,Macedonia,Macedonian,64.20,2059794.0,2011,1.322388e+06
4,Macedonia,Albanian,25.20,2059794.0,2011,5.190681e+05
5,Macedonia,Turkish,3.90,2059794.0,2011,8.033197e+04
6,Macedonia,Gypsy,2.70,2059794.0,2011,5.561444e+04
7,Macedonia,Serb,1.80,2059794.0,2011,3.707629e+04
8,Serbia,Serb,82.90,7120666.0,2011,5.903032e+06
9,Serbia,Montenegrin,0.90,7120666.0,2011,6.408599e+04
10,Serbia,Hungarian,3.90,7120666.0,2011,2.777060e+05
11,Serbia,Roma,1.40,7120666.0,2011,9.968932e+04
12,Serbia,Bosniak,1.80,7120666.0,2011,1.281720e+05
13,Serbia,Croat,1.10,7120666.0,2011,7.832733e+04
14,Montenegro,Montenegrin,43.00,620029.0,2011,2.666125e+05
15,Montenegro,Serb,32.00,620029.0,2011,1.984093e+05
16,Montenegro,Bosniak,8.00,620029.0,2011,4.960232e+04
17,Montenegro,Albanian,5.00,620029.0,2011,3.100145e+04
18,Kosovo,Albanian,92.00,1733872.0,2011,1.595162e+06
19,Kosovo,Serbian,5.00,1733872.0,2011,8.669360e+04
20,Andorra,Spanish,43.00,78115.0,2011,3.358945e+04
21,Andorra,Andorran,33.00,78115.0,2011,2.577795e+04
22,Andorra,Portuguese,11.00,78115.0,2011,8.592650e+03
23,Andorra,French,2.00,78115.0,2011,1.562300e+03
24,Andorra,African,5.00,78115.0,2011,3.905750e+03
25,Spain,Mediterranean Nordic,100.00,792054.0,2011,7.920540e+05
26,Austria,Austrian,91.10,269211.0,2013,2.452512e+05
27,Austria,Turkish,1.60,269211.0,2013,4.307376e+03
28,Austria,Slovene,1.00,269211.0,2013,2.692110e+03
29,Austria,Croat,2.00,269211.0,2013,5.384220e+03
...,...,...,...,...,...,...
598,Guinea-Bissau,African,99.00,1586624.0,2010,1.570758e+06
599,Sierra Leone,Asian,1.00,5751976.0,2010,5.751976e+04
600,Sierra Leone,African,99.00,5751976.0,2010,5.694456e+06
601,Uganda,Rwanda,6.00,34856813.0,2014,2.091409e+06
602,Uganda,Arab,1.00,34856813.0,2014,3.485681e+05
603,Uganda,Baganda,17.00,34856813.0,2014,5.925658e+06
604,Uganda,Karamojong,12.00,34856813.0,2014,4.182818e+06
605,Uganda,Basogo,8.00,34856813.0,2014,2.788545e+06
606,Uganda,Iteso,8.00,34856813.0,2014,2.788545e+06
607,Uganda,Langi,6.00,34856813.0,2014,2.091409e+06
608,Uganda,Bagisu,5.00,34856813.0,2014,1.742841e+06
609,Uganda,Acholi,4.00,34856813.0,2014,1.394273e+06
610,Uganda,Lugbara,4.00,34856813.0,2014,1.394273e+06
611,Uganda,Bunyoro,3.00,34856813.0,2014,1.045704e+06
612,Uganda,Batobo,3.00,34856813.0,2014,1.045704e+06
613,Lesotho,Sotho,99.70,2008921.0,2010,2.002894e+06
614,Mozambique,European,0.06,1735351.0,2012,1.041211e+03
615,Mozambique,Indian,0.08,1735351.0,2012,1.388281e+03
616,Mozambique,Euro-African,0.20,1735351.0,2012,3.470702e+03
617,Mauritius,Creole,27.00,1237091.0,2011,3.340146e+05
618,Mauritius,Indo-Mauritian,68.00,1237091.0,2011,8.412219e+05
619,Mauritius,Sino-Mauritian,3.00,1237091.0,2011,3.711273e+04
620,Mauritius,Franco-Mauritian,2.00,1237091.0,2011,2.474182e+04
621,Swaziland,European,3.00,1193148.0,2010,3.579444e+04
622,Swaziland,African,97.00,1193148.0,2010,1.157354e+06
623,Saint Helena,African descent,50.00,5663.0,2014,2.831500e+03
624,Saint Helena,White,25.00,5663.0,2014,1.415750e+03
625,Saint Helena,Chinese,25.00,5663.0,2014,1.415750e+03
626,Sao Tome and Principe,European,100.00,187356.0,2012,1.873560e+05
627,Seychelles,Seychellois,100.00,90945.0,2010,9.094500e+04

In [152]:
#sum up populations for each ethnic group across all countries and return the top 10
eth_table.groupby('groupname')['eth_pop'].sum().sort_values(ascending=False).head(10)

groupname
Malay              9.002171e+07
Eastern Hamitic    8.283038e+07
Viet/Kinh          7.607838e+07
African            6.214604e+07
Thai               5.108416e+07
Arab-Berber        4.933220e+07
Arab               4.429985e+07
Mestizo            4.079181e+07
Mangbetu-Azande    2.798602e+07
Chinese            2.247096e+07
Name: eth_pop, dtype: float64

In [175]:
#presumably we want the country name for each river, lake and airport, so create a country code lookup table
cty_codes=[]
for element in document.iterfind('country'):
    row={}
    row['country_name'] = element.find('name').text
    row['country_code'] = element.attrib['car_code']
    cty_codes.append(row)

cty_codes = pd.DataFrame(cty_codes)
cty_codes

    country_code            country_name
0             AL                 Albania
1             GR                  Greece
2             MK               Macedonia
3            SRB                  Serbia
4            MNE              Montenegro
5            KOS                  Kosovo
6            AND                 Andorra
7              F                  France
8              E                   Spain
9              A                 Austria
10            CZ          Czech Republic
11             D                 Germany
12             H                 Hungary
13             I                   Italy
14            FL           Liechtenstein
15            SK                Slovakia
16           SLO                Slovenia
17            CH             Switzerland
18            BY                 Belarus
19            LV                  Latvia
20            LT               Lithuania
21            PL                  Poland
22            UA                 Ukraine
23             R                  Russia
24             B                 Belgium
25             L              Luxembourg
26            NL             Netherlands
27           BIH  Bosnia and Herzegovina
28            HR                 Croatia
29            BG                Bulgaria
..           ...                     ...
214          TCH                    Chad
215           GQ       Equatorial Guinea
216            G                   Gabon
217           CV              Cape Verde
218          SUD                   Sudan
219          SSD             South Sudan
220          COM                 Comoros
221           RG                  Guinea
222           LB                 Liberia
223          DJI                Djibouti
224           ER                 Eritrea
225          ETH                Ethiopia
226           SP                 Somalia
227          EAK                   Kenya
228          WAG                  Gambia
229           SN                 Senegal
230          GNB           Guinea-Bissau
231          WAL            Sierra Leone
232          EAU                  Uganda
233           LS                 Lesotho
234           RM              Madagascar
235           MW                  Malawi
236          MOC              Mozambique
237           MS               Mauritius
238         MAYO                 Mayotte
239           SD               Swaziland
240         REUN                 Reunion
241         HELX            Saint Helena
242          STP   Sao Tome and Principe
243           SY              Seychelles

[244 rows x 2 columns]

In [194]:
#iterate through the tree and grab river name, length and country (I'm using the source country, but there is other data
#for countries the river runs through that could be used depending on requirements)
river = []
for element in document.iterfind('river'): 
    try:
        row={}
        row['country_code'] = element.find('source').attrib['country']
        row['name'] = element.find('name').text
        row['length'] = float(element.find('length').text)
        river.append(row)
        #skipping rivers missing any of the required data elements
    except AttributeError:
        pass

pd.DataFrame(river).sort_values('length',ascending=False).head(10).merge(cty_codes, on='country_code')

  country_code  length      name   country_name
0           PE  6448.0  Amazonas           Peru
1           CN  6380.0   Jangtse          China
2           CN  4845.0   Hwangho          China
3           CN  4350.0    Mekong          China
4            R  4400.0      Lena         Russia
5            R  4092.0  Jenissej         Russia
6          ZRE  4374.0     Zaire          Zaire
7          KAZ  4248.0   Irtysch     Kazakhstan
8           RG  4184.0     Niger         Guinea
9          USA  4130.0  Missouri  United States

In [195]:
lake = []
for element in document.iterfind('lake'): 
    try:
        row={}
        row['country_code'] = element.find('located').attrib['country']
        row['name'] = element.find('name').text
        row['area'] = float(element.find('area').text)
        lake.append(row)
    except AttributeError:
        pass

pd.DataFrame(lake).sort_values('area', ascending=False).head(10).merge(cty_codes, on='country_code')

       area country_code             name   country_name
0  386400.0            R      Caspian Sea         Russia
1   31492.0            R     Ozero Baikal         Russia
2   82103.0          CDN    Lake Superior         Canada
3   59600.0          CDN       Lake Huron         Canada
4   31792.0          CDN  Great Bear Lake         Canada
5   68870.0          EAT    Lake Victoria       Tanzania
6   57800.0          USA    Lake Michigan  United States
7   41650.0           IL         Dead Sea         Israel
8   32893.0          ZRE  Lake Tanganjika          Zaire
9   29600.0          MOC      Lake Malawi     Mozambique

In [198]:
airport = []
for element in document.iterfind('airport'): 
    try:
        row={}
        row['country_code'] = element.attrib['country']
        row['name'] = element.find('name').text
        row['elev'] = int(element.find('elevation').text)
        airport.append(row)
    except:
        pass

pd.DataFrame(airport).sort_values('elev',ascending=False).head(10).merge(cty_codes, on='country_code')

,country_code,elev,name,country_name
0,BOL,4063,El Alto Intl,Bolivia
1,BOL,2905,Juana Azurduy De Padilla,Bolivia
2,CN,4005,Lhasa-Gonggar,China
3,CN,3963,Yushu Batang,China
4,PE,3827,Juliaca,Peru
5,PE,3311,Teniente Alejandro Velasco Astete Intl,Peru
6,PE,2719,Coronel Fap Alfredo Mendivil Duarte,Peru
7,PE,2677,Mayor General FAP Armando Revoredo Iglesias Ai...,Peru
8,EC,2813,Mariscal Sucre Intl,Ecuador
9,MEX,2581,Licenciado Adolfo Lopez Mateos Intl,Mexico